<h2 class="text-center my-4">Resend confirmation instructions</h2>
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "mx-auto form-container", style: "border: 2px solid #808080; padding: 15px; border-radius: 5px;" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <!-- Email Field -->
  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), required: true, class: "form-control", placeholder: "Enter your email address" %>
  </div>
  <!-- Submit Button -->
  <div class="mb-3 text-center">
    <%= f.submit "Send", class: "btn btn-secondary px-4" %>
  </div>
  <div class="text-center">
    <%= render "devise/shared/links" %>
  </div>
<% end %>
