<h2 class="text-center my-3">Edit Profile</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "mx-auto form-container mb-3" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <!-- First and Last Name -->
  <div class="row mb-3">
    <div class="col-md-6 col-12">
      <%= f.label :first_name, class: "form-label" %><span class="text-danger">*</span>
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", required: true, class: "form-control bg-light" %>
    </div>
    <div class="col-md-6 col-12">
      <%= f.label :last_name, class: "form-label" %><span class="text-danger">*</span>
      <%= f.text_field :last_name, autocomplete: "last_name", required: true, class: "form-control bg-light" %>
    </div>
  </div>
  <!-- Email and Phone Number -->
  <div class="row mb-3">
    <div class="col-md-6 col-12">
      <%= f.label :email, class: "form-label" %><span class="text-danger">*</span>
      <%= f.email_field :email, autocomplete: "email", required: true, class: "form-control bg-light" %>
    </div>
    <div class="col-md-6 col-12">
      <%= f.label :phone_number, "Phone Number" , class: "form-label"%>
      <div class="input-group d-flex">
        <% country_codes = Country.all.map { |c| c[1] } %>
        <!-- Country Code Dropdown -->
        <%= f.select :country_code, 
        country_codes.map { |code| 
            country = ISO3166::Country[code]
            ["+#{country.country_code} #{country.name}", country.country_code] 
        }, 
        {}, class: "form-select input-group country-code-select" %>
        <!-- Phone Number Input -->
        <%= f.text_field :phone_number, class: "form-control flex-grow-2", style: "background-color: #f0f0f0;"%>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6 col-12">
      <%= f.label :current_password, class: "form-label" %><span class="text-danger">*</span>
      <i class="text-danger"><small>(We need your current password to confirm your changes)</small></i>
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control bg-light" %>
    </div>
    <!-- Membership Status -->
    <div class="col-md-6 col-12">
      <label class="form-label ">Membership Status</label>
      <div>
        <% if current_user.membership&.active? %>
          <button class="btn btn-outline-success" disabled>Active <i class="fas fa-gem"></i></button>
          since : <%= current_user.membership.start_date.strftime("%m/%d/%Y") %>
        <% else %>
          <button class="btn btn-outline-secondary btn-sm d-inline" disabled>Inactive <i class="fa-regular fa-gem"></i></button>
          <span>Click "Become a Member!" below to join.</span>
        <% end %>
      </div>
    </div>
  </div>
  <!-- Password and Confirmation -->
  <div class="row mb-3">
    <div class="col-md-6 col-12 ">
      <%= f.label :password, "New Password", class: "form-label" %>
      <i><small>(Leave blank if you don't want to change it)</small></i>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control bg-light" %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
    <div class="col-md-6 col-12">
      <%= f.label :password_confirmation, "New Password Confirmation", class: "form-label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control bg-light" %>
    </div>
  </div>
  <!-- Gender, Age Range, and Ethnicity -->
  <div class="row">
    <div class="col-md-4 col-12 mb-3">
      <%= f.label :gender, class: "form-label" %><span class="text-danger">*</span>
      <%= f.select :gender, options_for_select([["Male", "Male"], ["Female", "Female"]]), { prompt: "Select Gender" }, required: true, class: "form-select bg-light" %>
    </div>
    <div class="col-md-4 col-12 mb-3">
      <%= f.label :age_range, class: "form-label" %><span class="text-danger">*</span>
      <%= f.select :age_range, options_for_select([["18-25", "18-25"], ["26-35", "26-35"], ["36-45", "36-45"], ["46-55", "46-55"], ["56+", "56+"]]), { prompt: "Select Age Range" }, required: true, class: "form-select bg-light" %>
    </div>
    <div class="col-md-4 col-12 mb-3">
      <%= f.label :ethnicity, class: "form-label" %><span class="text-danger">*</span>
      <%= f.select :ethnicity, options_for_select([
          ["White", "White"],
          ["Black or African American", "Black or African American"],
          ["Asian", "Asian"],
          ["American Indian or Alaska Native", "American Indian or Alaska Native"],
          ["Native Hawaiian or Other Pacific Islander", "Native Hawaiian or Other Pacific Islander"],
          ["Hispanic or Latino", "Hispanic or Latino"],
          ["Other", "Other"],
          ["Prefer not to say", "Prefer not to say"]
        ]), { prompt: "Select Ethnicity" }, required: true, class: "form-select bg-light" %>
    </div>
  </div>
  <!-- Submit Button -->
  <div class="mb-3 text-center">
    <%= f.submit "Save", class: "btn btn-secondary text-white px-4" %>
  </div>
<% end %>
<!-- Account Deletion -->
<div class="my-3 text-center">
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger mb-3" %>
</div>
