<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <!-- First Name -->
  <div class="field">
    <%= f.label :first_name %> <span style="color: red;">*</span><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "Enter your first name", required: true %>
    <small style="color: red;">First name is a required field</small>
  </div>
  
  <!-- Last Name -->
  <div class="field">
    <%= f.label :last_name %> <span style="color: red;">*</span><br />
    <%= f.text_field :last_name, autocomplete: "last_name", placeholder: "Enter your last name", required: true %>
    <small style="color: red;">Last name is a required field</small>
  </div>
  
  <!-- Email -->
  <div class="field">
    <%= f.label :email %> <span style="color: red;">*</span><br />
    <%= f.email_field :email, autocomplete: "email", placeholder: "Enter your email address", required: true %>
    <small style="color: red;">Email is a required field</small>
  </div>  

  <!-- Current Password -->
<div class="field">
  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password, autocomplete: "current-password" %>
</div>

  <!-- Password -->
  <div class="field">
    <%= f.label :password, "New Password" %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <!-- Password Confirmation -->
  <div class="field">
    <%= f.label :password_confirmation, "New Password Confirmation" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <!-- Phone Number -->
<div class="field">
  <%= f.label :phone_number %> <span style="color: red;">*</span><br />
  <%= f.text_field :phone_number, placeholder: "e.g., +1 (123) 456-7890", required: true %>
  <small style="color: red;">Phone number is a required field</small>
</div>

<!-- Gender -->
<div class="field">
  <%= f.label :gender %> <span style="color: red;">*</span><br />
  <%= f.select :gender, options_for_select([["Male", "Male"], ["Female", "Female"]]), { prompt: "Select Gender" }, required: true %>
  <small style="color: red;">Gender is a required field</small>
</div>

<!-- Age Range -->
<div class="field">
  <%= f.label :age_range %> <span style="color: red;">*</span><br />
  <%= f.select :age_range, options_for_select([["18-25", "18-25"], ["26-35", "26-35"], ["36-45", "36-45"], ["46-55", "46-55"], ["56+", "56+"]]), { prompt: "Select Age Range" }, required: true %>
  <small style="color: red;">Age range is a required field</small>
</div>

<!-- Ethnicity -->
<div class="field">
  <%= f.label :ethnicity %> <span style="color: red;">*</span><br />
  <%= f.select :ethnicity, options_for_select([
    ["White", "White"],
    ["Black or African American", "Black or African American"],
    ["Asian", "Asian"],
    ["American Indian or Alaska Native", "American Indian or Alaska Native"],
    ["Native Hawaiian or Other Pacific Islander", "Native Hawaiian or Other Pacific Islander"],
    ["Hispanic or Latino", "Hispanic or Latino"],
    ["Other", "Other"],
    ["Prefer not to say", "Prefer not to say"]
  ]), { prompt: "Select Ethnicity" }, required: true %>
  <small style="color: red;">Ethnicity is a required field</small>
</div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<%= link_to "Back", :back %>
