<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <!-- First Name -->
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, value: resource.first_name, autofocus: true, autocomplete: "first_name", placeholder: "Enter your first name" %>
  </div>

  <!-- Last Name -->
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, value: resource.last_name, autofocus: true, autocomplete: "last_name", placeholder: "Enter your last name" %>
  </div>

  <!-- Email -->
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, value: resource.email, autofocus: true, autocomplete: "email", placeholder: "Enter your email address" %>
  </div>

  <!-- Phone Number -->
  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number, value: resource.phone_number, placeholder: "e.g., +1(123)456-7890" %>
  </div>

  <!-- Gender -->
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select :gender, options_for_select([["Male", "Male"], ["Female", "Female"]]), { prompt: "Select Gender" } %>
  </div>
  
  <!-- Age Range -->
  <div class="field">
    <%= f.label :age_range %><br />
    <%= f.select :age_range, options_for_select([["18-25", "18-25"], ["26-35", "26-35"], ["36-45", "36-45"], ["46-55", "46-55"], ["56+", "56+"]]), { prompt: "Select Age Range" } %>
  </div>
  
  <!-- Ethnicity -->
  <div class="field">
    <%= f.label :ethnicity %><br />
    <%= f.select :ethnicity, options_for_select([["African", "African"], ["Central Asian", "Central Asian"], ["East Asian", "East Asian"], ["European", "European"], ["Middle Eastern", "Middle Eastern"], ["North African", "North African"], ["South Asian", "South Asian"], ["Southeast Asian", "Southeast Asian"], ["Other", "Other"]]), { prompt: "Select Ethnicity" } %>
  </div>

  <!-- Password -->
  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <!-- Password Confirmation -->
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <!-- Current Password -->
  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<%= link_to "Back", :back %>
