<div id="<%= dom_id media_mention %>">
  <p>
    <strong>Name:</strong>
    <%= media_mention.name %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= media_mention.link %>
  </p>

  <p>
    <strong>Published date:</strong>
    <%= media_mention.published_date %>
  </p>

  <p>
    <strong>Organization name:</strong>
    <%= media_mention.organization_name %>
  </p>

</div>
