<%= stylesheet_link_tag 'media_mentions', media: 'all' %>

<h1 class="heading text-center my-5" style="color: #403f2b;">Latest News</h1>

<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-3 g-2">
    <% if @media_mentions.present? %>
      <% @media_mentions.each do |media_mention| %>
        <div class="col">
          <div class="card custom-card equal-height-card"> 
            <div class="card-body">
              <strong><h2 class="card-title" style="color: #57573f;">
                <%= media_mention.name %>
              </h2></strong>
              <p class="card-text close-spaced" style="color: #57573f;">
                News Organization: <%= media_mention.organization_name %>
              </p>
              <p class="card-text close-spaced" style="color: #57573f;">
                Published Date: <%= media_mention.published_date.strftime("%B %d, %Y") %>
              </p>

              <% if media_mention.link.present? %>
                <iframe 
                  src="<%= media_mention.link %>" 
                  title="<%= media_mention.name %> Article Snippet" 
                  width="90%" 
                  height="350" 
                  frameborder="0" 
                  style="border: 1px solid #ccc; border-radius: 8px;">
                </iframe>
              <% else %>
                <p class="text-muted">No preview available.</p>
              <% end %>

              <a href="<%= media_mention.link %>" target="_blank" 
                class="btn btn-primary mt-3" 
                style="background-color: #82825E; border-color: #82825E; color: white;">
                View Full Article
              </a>

              <% if current_user&.role&.name == 'admin' %>
                <div class="mt-3 d-flex justify-content-between">
                  <%= link_to "New Media Mention", new_media_mention_path, class: "btn btn-primary" %>
                  <%= link_to 'Edit Post', edit_media_mention_path(media_mention), class: 'btn btn-sm edit-button' %>
                  <%= button_to 'Delete', media_mention_path(media_mention), method: :delete, class: 'btn btn-sm delete-button' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center text-muted fs-5">No Updates Available At This Time.</p>
    <% end %>
  </div>
</div>
