<div>
  <h2>Create New Media Mention</h2>
  <div>
    <p><strong><%= @media_mention.name %></strong></p>
    <p><strong><%= @media_mention.link %></strong></p>
    <p><strong><%= @media_mention.published_date %></strong></p>
    <p><strong><%= @media_mention.organization_name %></strong></p>
  </div>
  <%= render 'form', media_mention: @media_mention %>
</div>
