<div class="card shadow-sm p-4 mx-auto mt-5" style="max-width: 500px;">
  <div class="text-center mb-3">
    <h2 class="text-dark">Media Post Details</h2>
  </div>

  <div>
    <p><strong>Name:</strong> <%= @media_mention.name %></p>
    <p><strong>Link:</strong> <%= @media_mention.link %></p>
    <p><strong>Published Date:</strong> <%= @media_mention.published_date %></p>
    <p><strong>Organization Name:</strong> <%= @media_mention.organization_name %></p>
  </div>

  <div class="text-center mt-3">
    <%= link_to 'Edit', edit_media_mention_path(@media_mention), class: 'btn btn-sm text-white edit-button text-decoration-none', style: 'background-color: #e86c00; border-color: #e86c00;' %>
    <%= link_to 'Back to Latest News', media_mentions_path, class: 'btn btn-sm btn-secondary text-white', style: 'background-color: #403F2B; border-color: #403F2B;' %>
  </div>
</div>
