<h2 class="text-center mb-4">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "w-50 mx-auto" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <!-- Email -->
  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter your email address", required: true, class: "form-control" %>
    <small class="text-danger">Email is a required field</small>
  </div>

  <!-- Submit Button -->
  <div class="mb-3 text-center">
    <%= f.submit "Send me reset password instructions", class: "btn btn-secondary text-white px-4" %>
  </div>
<% end %>

<div class="text-center">
  <%= render "devise/shared/links" %>
</div>
