<div class="registration-card">
  <strong><%= registration.registrable&.title %></strong><br>

  <%= formatted_start_date(registration.registrable) %><br>

  <%= registration.registrable&.location %><br>
  <p>Status: <%= registration.status.capitalize %></p>

  <% if registration.registrable.present? %>
    <%= link_to "View #{registration.registrable_type}", 
                polymorphic_path(registration.registrable), 
                class: 'btn btn-info' %>
  <% else %>
    <p>Registration details are missing or unavailable.</p>
  <% end %>
</div>