<div class="col-md-6 d-flex">
  <%= link_to polymorphic_path(item), class: 'card flex-fill item-card mb-4 text-decoration-none' do %>
    <% if item.respond_to?(:images) && item.images.attached? %>
      <%= image_tag item.images.first, class: 'card-img-top item-image-preview', alt: item.title %>
    <% elsif item.respond_to?(:image) && item.image.attached? %>
      <%= image_tag item.image, class: 'card-img-top item-image-preview', alt: item.title %>
    <% end %>
    <div class="card-body d-flex flex-column">
      <h4 class="card-title text-center">
        <%= item.title %>
      </h4>
      <!-- Item details -->
      <%= render 'shared/item_details', item: item %>
      <!-- Member Early Access Badge -->
      <%= render 'shared/early_access_badge', item: item %>
      <!-- Registration Status -->
      <%= render 'shared/registration_status_actions', item: item %>
    </div>
  <% end %>
</div>
