<div class="registration-actions text-center mt-3">
  <% if item.end_date.present? && Time.current > item.end_date %>
    <p class="registration-info text-center">
      <span class="btn btn-outline-danger" style="pointer-events: none;">
        Registration Closed
      </span>
    </p>
  <% elsif Registration.reached_capacity?(item) %>
    <p class="registration-info text-center">
      <span class="btn btn-outline-primary" style="pointer-events: none;">
        SOLD OUT
      </span>
    </p>
  <% elsif Time.current < item.general_registration_start %>
    <p class="registration-info text-center">
      <% if item.early_access_for_members %>
        Member Registrations Now Open </br> General Registration Opens In:
    <% else %>
      General Registration Opens In:
    <% end %>
    <% time_remaining = item.general_registration_start - Time.current %>
    <strong><%= ChronicDuration.output(time_remaining, days: true, units: 2) %></strong>
  </p>
<% else %>
  <!-- Registration is open -->
  <p class="registration-info text-center">
    <span class="btn btn-outline-success" style="pointer-events: none;">
      General Registration Open!
    </span>
  </p>
<% end %>
<!-- Registration Actions -->
<% unless item.end_date.present? && Time.current > item.end_date || Registration.reached_capacity?(item) %>
  <% if (item.early_access_for_members? && current_user&.membership_active?) || item.general_registration_open? %>
    <% if item.adult_cost.to_i > 0 %>
      <!-- Paid: Redirect to Payments -->
      <%= button_to "Register and Pay", 
                  polymorphic_path([item, :payments], paymentable_type: item.class.name, paymentable_id: item.id), 
                  method: :post, class: "btn btn-primary mb-3", data: { turbo: false } %>
    <% else %>
      <!-- Free: Direct Registration -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registrationModal">
        Register
      </button>
    <% end %>
  <% end %>
<% end %>
</div>
<!-- Registration Modal -->
<div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registrationModalLabel">Register for <%= item.title %></h5>
      </div>
      <div class="modal-body">
        <%= form_with url: polymorphic_path([item, :registrations]), method: :post, local: true do |form| %>
          <div class="form-group d-flex justify-content-between my-2">
            <label for="number_of_adults" class="mr-2">
              <dt>Adults:</dt>
            </label>
            <%= form.number_field :number_of_adults, in: 0..10, class: "form-control w-auto", value: 1 %>
          </div>
          <div class="form-group d-flex align-items-center justify-content-between my-2">
            <label for="number_of_kids" class="mr-2">
              <dt>Kids:</dt>
            </label>
            <%= form.number_field :number_of_kids, in: 0..10, class: "form-control w-auto", value: 0 %>
          </div>
          <%= form.hidden_field :registrable_type, value: item.class.name %>
          <%= form.hidden_field :registrable_id, value: item.id %>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= form.submit "Register", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
