<div class="event-index-container">
  <h1>Upcoming Events</h1>
  <!-- Check if there are events to display -->
  <% if @events.any? %>
    <div class="event-listing">
      <% @events.each do |event| %>
        <div class="event-card">
          <h3><%= event.title %></h3>
          <% if event.images.attached? %>
            <div class="event-image">
              <%= image_tag event.images.first, class: "event-image" %>
            </div>
          <% end %>
          <!-- Combine date and time -->
          <p><strong>Date and Time:</strong> <%= event.start_date.strftime("%B %d, %Y at %I:%M %p") %></p>
          <p><strong>Location:</strong> <%= event.location %></p>
          <p><strong>Cost:</strong> <%= number_to_currency(event.cost, precision: 2) %></p>
          <!-- Link to View Event Details -->
          <%= link_to 'View Event', event_path(event), class: "btn-view" %>
          <%= button_to 'Register Now', event_payments_path(event), method: :post, class: 'event-payments btn btn-primary', data: { turbo: false } %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No upcoming events at the moment.</p>
  <% end %>
  <!-- Back Button -->
  <%= link_to 'Back to Home', root_path, class: "btn-back" %>
  <%= link_to 'New Event', new_event_path, class: "btn-back" %>
 
</div>
