<div class="events-index-container">
  <h1 class="page-title text-center">Upcoming Events</h1>
  <div class="d-flex justify-content-center mb-3">
    <%= link_to 'New Event', new_event_path, class: 'btn btn-primary' %>
  </div>

  <div class="row d-flex justify-content-center g-3">
    <% @events.each do |event| %>
      <div class="col-md-6 col-lg-4 d-flex">
        <div class="card flex-fill event-card">
          <% if event.images.attached? %>
            <%= image_tag event.images.first, class: 'card-img-top event-image', alt: event.title %>
          <% end %>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">
              <%= link_to event.title, event_path(event), class: 'text-decoration-none text-primary' %>
            </h5>
            <p class="card-text text-muted">
              <i class="fa-regular fa-calendar me-2"></i> <%= event.start_date.strftime("%B %d, %Y %I:%M %p") %>
            </p>
            <p class="card-text">
              <i class="fa-solid fa-location-dot me-2"></i> <%= event.location %>
            </p>
            <p class="card-text">
              <i class="fa-sharp-duotone fa-solid fa-money-bill"></i> 
              <%= event.cost.present? && event.cost > 0 ? number_to_currency(event.cost) : "Free" %>
            </p>
            <div class="mt-auto d-flex justify-content-between">
              <%= link_to 'Edit', edit_event_path(event), class: 'btn btn-warning btn-sm' %>
              <%= link_to 'Delete', event_path(event), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
