<% content_for :title, @event.title %>
<h3 class="event-title mt-3 text-center display-3"><%= @event.title %></h3>
<!-- event Image Section -->
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% @event.images.each_with_index do |image, index| %>
      <div class="carousel-item <%= 'active' if index == 0 %>">
        <%= image_tag image, class: "d-block w-100", alt: "Event Image #{index + 1}" %>
      </div>
    <% end %>
  </div>
  
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Grid Layout -->
<div class="row mt-4 .d-flex justify-content-center">
  <!-- Left Column (Description, What to Bring, Rules) -->
  <div class="col-md-4">
    <div class="event-description ">
      <h5><i class="fas fa-info-circle"></i> Description</h5>
      <p><%= @event.description %></p>
      <p><i class="fa-solid fa-users"></i> <strong>Registration Limit: </strong> <%= @event.capacity %></p> 
      <% if @event.childcare.present? %>
        <p><i class="fa-solid fa-child-reaching"></i> <strong>Childcare Available</strong></p>
      <% end %>
      <% if @event.sponsors.present? %>
        <p><strong>Sponsor(s):</strong> <%= @event.sponsors %></p>
      <% end %>   
      <p><strong>RSVP Deadline:</strong> <%= @event.rsvp_deadline.strftime("%B %d, %Y %I:%M %p")%></p>
      <% if @event.capacity.present? && @event.registrations.count >= @event.capacity %>
   <div class="btn btn-outline-primary" style="pointer-events: none;">SOLD OUT</div>
<% end %>
      
    </div>
  </div>
  <!-- Right Column (event Details, Register, Edit, Delete Buttons) -->
  <div class="col-md-4">
    <div class="event-details text-start p-3 shadow-sm rounded bg-light">
      <!-- Member Early Access Badge -->
      <%= render 'shared/early_access_badge', item: @event %>
      <!-- Date and Location -->
      <p><i class="fas fa-calendar-alt"></i> <strong>:</strong>
        <%= @event.start_date.strftime("%B %d %Y") %> - <%= @event.end_date.strftime("%B %d, %Y") %>
      </p>
      <p><i class="fas fa-map-marker-alt"></i> <strong>:</strong> <%= @event.location %></p>
      <p><i class="fa-solid fa-money-bill"></i> <strong>:</strong> <%= @event.cost.present? && @event.cost > 0 ? number_to_currency(@event.cost) : "Free" %></p>
    </div>
    <!-- Action Buttons -->
    <%= render 'shared/registration_status_actions', registrable: @event %>
  </div>
</div>
