<% content_for :title, @event.title %>
<h1 class="event-title mt-3 text-center display-3"><%= @event.title %></h1>
<!-- event Image Section -->
<div class="event-images">
  <% if @event.images.attached? %>
    <div class="event-image">
      <%= image_tag @event.images.first, class: "event-image-preview" %>
    </div>
  <% else %>
    <p>No image uploaded for this event.</p>
  <% end %>
</div>
<!-- Grid Layout -->
<div class="row mt-4 .d-flex justify-content-center">
  <!-- Left Column (Description, What to Bring, Rules) -->
  <div class="col-md-4">
    <div class="event-description ">
      <h2><i class="fas fa-info-circle"></i> Description</h2>
      <p><%= @event.description %></p>
      <p><i class="fa-solid fa-users"></i> Group size: 1-<%= @event.capacity %></p>
      <% if @event.childcare.present? %>
        <p><i class="fa-solid fa-child-reaching"></i> <strong>Childcare Available</strong></p>
      <% end %>
      <% if @event.sponsors.present? %>
        <p><strong>Sponsors:</strong> <%= @event.sponsors %></p>
      <% end %>

       <% if @event.capacity.present? %>
        <p><i class="fas fa-users"></i> <strong>Capacity:</strong> <%= @event.capacity %> participants</p>
        <% if @event.registrations.count >= @event.capacity %>
          <p class="text-danger"><strong>Registration Full</strong></p>
        <% end %>
      <% end %>     
      <p><strong>RSVP Deadline:</strong> <%= @event.rsvp_deadline.strftime("%B %d, %Y %I:%M %p")%></p>
    </div>
  </div>
  <!-- Right Column (event Details, Register, Edit, Delete Buttons) -->
  <div class="col-md-4">
    <div class="event-details text-start p-3 shadow-sm rounded bg-light">
      <!-- Member Early Access Badge -->
      <%= render 'shared/early_access_badge', item: @event %>
      <!-- Date and Location -->
      <p><i class="fas fa-calendar-alt"></i> <strong>:</strong>
        <%= @event.start_date.strftime("%B %d %Y") %> - <%= @event.end_date.strftime("%B %d, %Y") %>
      </p>
      <p><i class="fas fa-map-marker-alt"></i> <strong>:</strong> <%= @event.location %></p>
      <p><i class="fa-solid fa-money-bill"></i> <strong>:</strong> <%= @event.cost.present? && @event.cost > 0 ? number_to_currency(@event.cost) : "Free" %></p>
    </div>
    <!-- Action Buttons -->
    <%= render 'shared/event_activity_actions', registrable: @event %>
  </div>
</div>
