<% content_for :title, "Calendar" %>
<div class="container my-4">

  <!-- Calendar Wrapper -->
  <div class="calendar">
    <%= month_calendar(events: @events) do |date, events| %>
      <div>
        <!-- Display Date -->
        <strong class="d-block"><%= date.day %></strong>
      </div>

      <!-- Display Events (Only if they exist on this specific date) -->
      <% events.each do |event| %>
        <div class="event">
          <%= link_to event.title, event_path(event), class: "event-title" %><br>
          <small class="event-time">
            <%= event.start_time.strftime("%I:%M %p") %>
          </small>
        </div>
      <% end %>

      <!-- Display Activities for this date -->
      <% activities_on_date = @activities.select { |activity| activity.start_date.to_date == date } %>
      <% activities_on_date.each do |activity| %>
        <div class="activity">
          <%= link_to activity.title, activity_path(activity), class: "activity-title" %><br>
          <small class="activity-time">
            <%= activity.start_time.strftime("%I:%M %p") %>
          </small>
        </div>
      <% end %>

    <% end %>
  </div>
</div>
