<%= stylesheet_link_tag 'calendar', media: 'all' %>
<div class="container my-4">
  <!-- Calendar Wrapper -->
  <div class="calendar">
    <%= month_calendar events: (@trips + @activities) do |date, events| %>
      <!-- Display Date -->
      <div class="d-flex align-items-center justify-content-center text-center mb-2">
        <p class="mb-0"><%= date.day %></p>
      </div>
      
      <!-- Trips Section -->
      <% trips = events.select { |e| e.is_a?(Trip) } %>
      <% if trips.any? %>
        <div class="trip-container text-center">
          <% trips.each do |trip| %>
            <div class="trip">
              <%= link_to trip.title, trip_path(trip), class: "trip-title" %><br>
              <small class="trip-time">
                <%= trip.start_time.strftime("%I:%M %p") %>
              </small>
            </div>
          <% end %>
        </div>
      <% end %>
      
      <!-- Activities Section -->
      <% activities = events.select { |e| e.is_a?(Activity) } %>
      <% if activities.any? %>
        <div class="activity-container text-center">
          <% activities.each do |activity| %>
            <div class="activity">
              <%= link_to activity.title, activity_path(activity), class: "activity-title" %><br>
              <small class="activity-time">
                <%= activity.start_time.strftime("%I:%M %p") %>
              </small>
            </div>
          <% end %>
        </div>
      <% end %>
      
    <% end %>
  </div>
</div>
