<%= stylesheet_link_tag 'calendar', media: 'all' %>
<div class="container my-4">
  <!-- Calendar Wrapper -->
  <div class="calendar">
    <%= month_calendar events: @trips do |date, trips| %>
      <!-- Display Date -->
      <div class="border p-2 text-center">
        <strong class="d-block"><%= date.day %></strong>
      </div>
      <!-- Trips Section -->
      <% if trips.any? %>
        <div class="trip-container">
          <% trips.each do |trip| %>
            <div class="trip">
              <%= link_to trip.title, trip_path(trip), class: "trip-title" %><br>
              <small class="trip-time">
                <%= trip.start_time.strftime("%I:%M %p") %>
              </small>
            </div>
          <% end %>
        </div>
      <% end %>
      <!-- Activities Section -->
      <% activities_on_date = @activities.select { |activity| activity.start_date.to_date == date } %>
      <% if activities_on_date.any? %>
        <div class="activity-container">
          <% activities_on_date.each do |activity| %>
            <div class="activity">
              <%= link_to activity.title, activity_path(activity), class: "activity-title" %><br>
              <small class="activity-time">
                <%= activity.start_time.strftime("%I:%M %p") %>
              </small>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
