<%= stylesheet_link_tag 'calendar', media: 'all' %>

<div class="container my-4">
  <!-- Calendar Wrapper -->
  <div class="calendar">
    <%= month_calendar events: @events do |date, events| %>
      
      <!-- Display Date -->
      <div class="border p-2 text-center">
        <strong class="d-block"><%= date.day %></strong>
      </div>

      <!-- Events Section -->
      <% if events.any? %>
        <div class="event-container">
          <% events.each do |event| %>
            <div class="event">
              <%= link_to event.title, event_path(event), class: "event-title" %><br>
              <small class="event-time">
                <%= event.start_time.strftime("%I:%M %p") %>
              </small>
            </div>
          <% end %>
        </div>
      <% end %>

      <!-- Activities Section -->
      <% activities_on_date = @activities.select { |activity| activity.start_date.to_date == date } %>
      <% if activities_on_date.any? %>
        <div class="activity-container">
          <% activities_on_date.each do |activity| %>
            <div class="activity">
              <%= link_to activity.title, activity_path(activity), class: "activity-title" %><br>
              <small class="activity-time">
                <%= activity.start_time.strftime("%I:%M %p") %>
              </small>
            </div>
          <% end %>
        </div>
      <% end %>

    <% end %>
  </div>
</div>
