<div class="background-image" style="background-image: url('<%= asset_path('BigBend.jpg') %>'); background-size: cover; background-position: center; height: 900px; padding: 50px 0; position: relative;">
  <div class="container">   
  </div>
</div>
<div class="mt-2"></div>
<!-- Testimonials Section -->
<div class="testimonials-section">
  <div class="container py-5">
    <h2 class="text-center">What People Are Saying:</h2>
    <div id="testimonialCarousel" class="carousel carousel-dark slide col-md-6 mx-auto" data-bs-ride="carousel">
      <!-- Carousel Items -->
      <div class="carousel-inner">
        <% @testimonials.each_with_index do |testimonial, index| %>
          <div class="carousel-item <%= index == 0 ? 'active' : '' %>" data-bs-interval="<%= index == 0 ? '10000' : '2000' %>">
            <div class="d-block w-100 text-center p-5 testimonial-content">
              <p class="lead"><em><%= testimonial.text %></em></p>
              <h6><%= testimonial.user.first_name %> <%= testimonial.user.last_name %></h6>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Carousel Controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
