<div class="background-image-section" style="background-image: url('https://voyageminnesota.com/wp-content/uploads/2024/08/c-1722429567615-nasrieen_habib_51c96d6b-bcb9-4f97-a312-38cdd0cd4f29_original.jpg'); background-size: object-fit; background-position: center; height: 900px; padding: 50px 0; position: relative;">
  <div class="container">
    <div class="row">
      <!-- Activities Card -->
      <div class="col-md-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Activities</h5>
            <p class="card-text">Explore engaging activities designed to connect with nature and promote sustainability.</p>
            <a href="<%= activities_path %>" class="btn btn-primary btn-sm">View Activities</a>
          </div>
        </div>
      </div>
      <!-- Events Card -->
      <div class="col-md-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Events</h5>
            <p class="card-text">Join us in our upcoming events focused on environmental sustainability and stewardship.</p>
            <a href="<%= events_path %>" class="btn btn-primary btn-sm">View Events</a>
          </div>
        </div>
      </div>
      <!-- Latest News Card -->
      <div class="col-md-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Latest News</h5>
            <p class="card-text">Stay updated with the latest news and initiatives related to our mission.</p>
            <a href="<%= media_mentions_path %>" class="btn btn-primary btn-sm">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-2"></div>
<!-- Testimonials Section -->
<div class="testimonials-section">
  <div class="container py-5">
    <h2 class="text-center">What People Are Saying:</h2>
    <div id="testimonialCarousel" class="carousel carousel-dark slide col-md-6 mx-auto" data-bs-ride="carousel">
      <!-- Carousel Items -->
      <div class="carousel-inner">
        <% @testimonials.each_with_index do |testimonial, index| %>
          <div class="carousel-item <%= index == 0 ? 'active' : '' %>" data-bs-interval="<%= index == 0 ? '10000' : '2000' %>">
            <div class="d-block w-100 text-center p-5 testimonial-content">
              <p class="lead"><em><%= testimonial.text %></em></p>
              <h6><%= testimonial.user.first_name %> <%= testimonial.user.last_name %></h6>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Carousel Controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- Buttons -->
    <div class="text-center mt-4">
      <% if user_signed_in? && current_user.role.id == 1 %>
        <%= link_to 'View Testimonials', testimonials_path, class: 'btn btn-secondary' %>
      <% else %>
        <%= link_to 'Submit a Testimonial', new_testimonial_path, class: 'btn btn-secondary' %>
      <% end %>
    </div>
  </div>
</div>
