<%= stylesheet_link_tag 'media', media: 'all' %>

<h1 class="heading">Amanah Rec Latest News...</h1>

<div class="image-container">
  <img src="https://voyageminnesota.com/wp-content/uploads/2024/08/c-1722429958481-nasrieen_habib_dsc09767.jpg" alt="Image Description" class="news-image">
</div>

<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<div class="square-container">
  <div class="square">
    <% if @media.any? %>
      <ul>
        <% @media.each do |medium| %>  
          <li>
            <h3><%= medium.name %></h3> 
            <p><%= medium.description %></p> 
            <a href="<%= medium.link %>" target="_blank" class="text-muted text-decoration-underline">View Link</a>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No Updates Available At This Time.</p>
    <% end %>
  </div>
</div>
