<div class="container-fluid">
  <h1 class="page-title text-center">Activities</h1>

  <div class="d-flex justify-content-center mb-3">
    <%= link_to 'New Activity', new_activity_path, class: 'activity-index btn btn-primary' %>
  </div>

  <div class="row d-flex justify-content-center g-3">
    <% @activities.each do |activity| %>
      <div class="col-md-6 col-lg-4 d-flex">
        <div class="card flex-fill activity-card">
          <% if activity.images.attached? %>
            <%= image_tag activity.images.first, class: 'card-img-top activity-image', alt: activity.title %>
          <% end %>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">
              <%= link_to activity.title, activity_path(activity), class: 'text-decoration-none text-primary' %>
            </h5>
            <p class="card-text text-muted">
              <i class="fa-regular fa-calendar me-2"></i> <%= activity.date.strftime("%B %d, %Y %I:%M %p") %>
            </p>
            <p class="card-text">
              <i class="fa-solid fa-location-dot me-2"></i> <%= activity.location %>
            </p>
            <p class="card-text">
              <i class="fa-sharp-duotone fa-solid fa-money-bill"></i> 
              <%= activity.cost.present? && activity.cost > 0 ? number_to_currency(activity.cost) : "Free" %>
            </p>
            <div class="mt-auto d-flex justify-content-between">
              <%= link_to 'Edit', edit_activity_path(activity), class: 'btn btn-warning btn-sm' %>
              <%= link_to 'Delete', activity_path(activity), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>

              <% if activity.cost > 0 %>
              <!-- Paid Activity: Use button_to for payment creation -->
              <%= button_to 'Register and Pay', 
                            activity_payments_path(activity, paymentable_type: 'Activity', paymentable_id: activity.id), 
                            method: :post, class: 'activity-payments btn btn-primary', data: { turbo: false } %>
            <% else %>
              <!-- Free Activity: Use button_to for registration -->
              <%= button_to 'Register', 
                            activity_registrations_path(activity, registrationable_type: 'Activity', registrationable_id: activity.id), 
                            method: :post, class: 'activity-payments btn btn-success', data: { turbo: false } %>
            <% end %>
            
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
