<div class="activity-show">
  <h1 class="activity-title"><%= @activity.title %></h1>

  <div class="activity-details">
    <p><strong>Description:</strong> <%= @activity.description %></p>
    <p><strong>Time:</strong> <%= @activity.time.strftime("%I:%M %p") %></p>
    <p><strong>Date:</strong> <%= @activity.date %></p>
    <p><strong>Location:</strong> <%= @activity.location %></p>
    <p><strong>Capacity:</strong> <%= @activity.capacity %></p>
    <p><strong>What to Bring:</strong> <%= @activity.what_to_bring %></p>
    <p><strong>Rules:</strong> <%= @activity.rules %></p>
    <p><strong>Notes:</strong> <%= @activity.notes %></p>
    <p><strong>Cost:</strong> $<%= @activity.cost %></p>
    <p><strong>Duration:</strong> <%= @activity.duration %> minutes</p>
  </div>

    <%= link_to 'Back to Activities', activities_path, class: "back-button" %>
  
</div>
