<div class="testimonial-container container my-5">
  <h1 class="text-center mb-4">Testimonials</h1>
  <% @testimonials.each do |testimonial| %>
    <div class="card testimonial-card mb-4">
      <div class="card-body">
        <p class="card-text"><%= testimonial.text %></p>
        <small>By: <%= testimonial.user.first_name %> <%= testimonial.user.last_name %></small>
        <% if current_user&.role&.name == 'admin' %>
          <div class="d-flex justify-content-between align-items-center">
            <% if testimonial.approved? %>
              <span class="badge bg-success custom-badge">Approved</span>
              <%= button_to "Unapprove", unapprove_testimonial_path(testimonial), method: :patch, class: "btn custom-btn-warning btn-sm", data: { confirm: "Are you sure you want to unapprove this testimonial?" } %>
            <% else %>
              <span class="badge bg-warning custom-badge">Pending Approval</span>
              <%= button_to "Approve", approve_testimonial_path(testimonial), method: :patch, class: "btn custom-btn-success btn-sm" %>
            <% end %>
          </div>

          <div class="mt-2">
            <%= link_to "Edit", edit_testimonial_path(testimonial), class: "btn custom-btn-primary btn-sm me-2" %>
            <%= button_to "Delete", testimonial_path(testimonial), method: :delete, class: "btn custom-btn-danger btn-sm", data: { confirm: "Are you sure you want to delete this testimonial permanently?" } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
