<nav class="navbar">
  <div class="nav-wrapper">
    <!-- Add Logo or brand name -->
    <a class="brand" href="<%= root_path %>">Amanahrec</a>

    <!-- Navigation Links -->
    <ul class="nav-links">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", "#" %></li>
      <li><%= link_to "Activities", "#" %></li>
      <li><%= link_to "Events", "#" %></li>
      <li><%= link_to "Calendar", "#" %></li>
      <li><%= link_to "EcoJariyah", "https://www.ecojariyah.com/", target: "_blank" %></li>
      <li><%= link_to "Become a Member", "#" %></li>
      <li><%= link_to "Donate", "#", class: "navbar-btn-link" %></li>

    <% if user_signed_in? %>
      <li>
        <span><%= "#{current_user.first_name}, You are signed in" %></span>
        <ul>
          <li>
            <%= link_to "Edit Profile", edit_user_registration_path %>
          </li>
          <li>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </li>
    <% else %>
      <li>
        <%= link_to "Sign In", new_user_session_path %>
      </li>
      <li>
        <%= link_to "Sign Up", new_user_registration_path %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
