<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
  <a class="navbar-brand ms-5" href="<%= root_path %>">
  <img src="/AmanahRecProject3_Final.svg" alt="Amanahrec Logo" height="150" class="me-2"> <!-- Adjust height as needed -->
  Amanahrec
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Navigation Links -->
      <ul class="navbar-nav lead d-flex align-items-center mx-auto">
        <li class="nav-item"><%= link_to "About", pages_about_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Activities", "#", class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Events", "#", class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Calendar", pages_calendar_path,  class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Eco Jariyah", "https://www.ecojariyah.com/", class: "nav-link", target: "_blank" %></li>
        <li class="nav-item"><%= link_to "Become a Member", "#", class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Donate", "#", class: "nav-link", id: "donate" %></li>
      </ul>

      <!-- User Links -->
      <ul class="navbar-nav lead d-flex align-items-center ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li class="dropdown-header">
                Hi, <%= current_user.first_name %>!
              </li>
              <li>
                <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
              </li>
              <li>
                <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to "Sign In", new_user_session_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
