<% content_for :javascript do %>
  <script type="module">
    import "navbar_dropdown";
  </script>
<% end %>
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand ms-5" href="<%= root_path %>">
      <img src="/AmanahRecProject3_Final.svg" alt="Amanahrec Logo" height="150" class="me-2"> <!-- Adjust height as needed -->
      Amanahrec
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Navigation Links -->
      <ul class="navbar-nav lead d-flex align-items-center mx-auto">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        About
      </a>
      
          <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
            <li><%= link_to "About Us", pages_about_path, class: "dropdown-item" %></li>
            <li><%= link_to "Our Partners", pages_partners_path, class: "dropdown-item" %></li>
            <li><%= link_to "Meet Our Board", boards_path, class: "dropdown-item" %></li>
          </ul>
        </li>

        <li class="nav-item"><%= link_to "Activities", activities_path, class: "nav-link" %></li>

        <li class="nav-item"><%= link_to "Events", events_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Calendar", pages_calendar_path,  class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Latest News", media_mentions_path,  class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Eco Jariyah", "https://www.ecojariyah.com/", class: "nav-link", target: "_blank" %></li>
        <li class="nav-item"><%= link_to "Donate", "https://kindful.com/", class: "nav-link", id: "donate" %></li>
      </ul>
      <!-- User Links -->
      <ul class="navbar-nav lead d-flex align-items-center ms-auto">
       <% if user_signed_in? %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-expanded="false">
      <i class="fa-solid fa-user"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <li class="dropdown-header">
        Hi, <%= current_user.first_name %>!
      </li>
      <li>
        <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
      </li>
      <li>
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </li>

      <% if current_user.membership&.active? %>
        <!-- Active Subscription -->
        <li>
        <li class="dropdown-item">
  <span class="btn btn-outline-success btn-sm" style="pointer-events: none; opacity: 0.65; cursor: default;">
    Active <i class="fa-solid fa-crown"></i>
  </span>
</li>
          <%= button_to 'Cancel Subscription', cancel_subscription_payments_path, 
            method: :post, class: "custom-danger-btn", data: { turbo: false } %>
      <% else %>
        <!-- Inactive Subscription -->
        <li class="dropdown-item">
          <button class="btn btn-outline-secondary d-inline" disabled>Inactive</button>
        </li>
      <% end %>
    </ul>
  </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to "Sign In", new_user_session_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
