<nav class="navbar">
    <div class="nav-wrapper">
      <!-- Add Logo or brand name -->
      <a class="brand" href="<%= root_path %>">Amanahrec</a>

      <!-- Navigation Links -->
      <ul class="nav-links">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Activities", "#" %></li>
        <li><%= link_to "Events", "#" %></li>
        <li><%= link_to "About", "#" %></li>
        <li><%= link_to "Donate", "#" %></li>
        <li><%= link_to "EcoJariyah", "https://www.ecojariyah.com/" %></li>
        <li><%= link_to "Become a Member", "#" %></li>
        <li><%= link_to "Sign up", "#" %></li>
      </ul>
    </div>
  </nav>